{% extends 'admin_dash_base.html' %}

{% load static %}
{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
        {% for i in blogs %}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="{{i.image.url}}" height="500" width="500">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{{i.title}}</h1>
                            </div>
                            <div>
                                <p>{{i.desc}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>

{% endblock %}